<!DOCTYPE html>
<html>
  <head>
    <title>Voos</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/voos.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <table>
        <tr>
            <th>Trajeto</th>
            <th>Horário</th>
            <th>Compania</th>
            <th>Numero do voo</th>
        </tr>
        <!-- Inicio do laço for -->
        <% for(let voo of voos) { %>
        <tr>
          <td><%= voo.trajeto %></td>
          <td><%= voo.horario %></td>
          <td><%= voo.Voo_Compania_Aerea.nome %></td>
          <td><%= voo.numeroDoVoo %></td>
        </tr>
        <!-- Fim do laço for -->
        <% } %>
    </table>
  </body>
</html>
